<ngx-ui-loader
  fgsColor="#ff4081"
  pbColor="#ff4081"
  text="Please Wait..."
  fgsType="chasing-dots"
></ngx-ui-loader>
<div ngxUiLoaderBlurred (blur)="(6)">
  <!-- src/app/app.component.html -->
  <!-- <header
    class="fixed w-full z-50 bg-white/80 dark:bg-gray-900/80 backdrop-blur-sm shadow-sm"
  >
    <div
      class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4 flex justify-between items-center"
    >
      <div class="text-2xl font-bold">
        <span
          class="bg-clip-text text-transparent bg-gradient-to-r from-primary-600 to-secondary-600"
        >
          CodeVenture
        </span>
      </div>
      <div class="flex items-center space-x-4">
        <app-theme-toggle></app-theme-toggle>
        <button mat-stroked-button class="btn-secondary" routerLink="/login">
          Login
        </button>
        <button mat-raised-button class="btn-primary" routerLink="/register">
          Register
        </button>
      </div>
    </div>
  </header> -->
  <navbar></navbar>
  <router-outlet></router-outlet>
  <footer-app></footer-app>
</div>
